{% extends 'sageks_store/base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'catalogPage' %}">Каталог</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    {% if product %}
    <h1>{{ product.name }}</h1>
    <div>
        <section>
            <div class="row">
                <div class="card col-sm-6 product-card">
                  <img src="{% static 'images/no_image.png'%}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><a href="">{{ product.name }}</a></h5>
                    <p class="card-text">{{ product.price }} ₽</p>
                    <a href="#" class="btn btn-primary">В корзину</a>
                  </div>
                </div>
            </div>
        </section>
    {% else %}
            <h3>Товары не найдены.</h3>
    {% endif %}
    </div>
{% endblock %}